In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [24]:
cc = pd.read_csv("C:/Users/WIN10/Downloads/For problem download/data_pack/cc.csv")
persons = pd.read_csv("C:/Users/WIN10/Downloads/For problem download/data_pack/demographics.csv")
kplus = pd.read_csv("C:/Users/WIN10/Downloads/For problem download/data_pack/kplus.csv")

In [25]:
outlier = list(cc["cc_txn_amt"][cc["cc_txn_amt"] > cc["cc_txn_amt"].quantile(.85)].index)
outlier2 = list(cc["cc_txn_amt"][cc["cc_txn_amt"] < cc["cc_txn_amt"].quantile(.15)].index)

In [26]:
for i in outlier2:
    outlier.append(i)

In [27]:
cc = cc.drop(outlier)

In [28]:
cc

        cc_no      pos_dt  cc_txn_amt
3       37069  2018-04-22        1600
5       37201  2018-04-13         400
7       37201  2018-01-15         600
8       37201  2018-06-13        1500
9       37201  2018-01-22        1300
...       ...         ...         ...
999107  63420  2018-04-07         800
999108  63420  2018-01-23         800
999109  63420  2018-04-10         800
999111  63420  2018-02-11        1700
999112  63420  2018-06-02         500

[708424 rows x 3 columns]

In [29]:
cc["pos_dt"] = pd.to_datetime(cc["pos_dt"],errors='coerce')

In [22]:
# cc["month"] = pd.DatetimeIndex(cc['pos_dt']).month

In [38]:
cc_2 = cc.groupby(["cc_no",cc.pos_dt.dt.month]).sum()

In [107]:
# #add columns of month of spending CC 1 - 6
# persons["cc_month_4"] = cc.groupby([cc.pos_dt.dt.month]).get_group(5)["cc_txn_amt"]